input{
    border-radius: 5px 0 0 5px;
    padding: 5px;
}
.faLocationDot{
    border-radius: 0;
    height: 40px !important;
}
.faSearchLocation{
    border-radius: 0 5px 5px 0;
    border-left: solid 1px #b0b0b0;
    height: 40px !important;
}