input{
    border-radius: 5px 0 0 5px;
    padding: 5px;
}
input[type="text"], textarea {
    background: rgba( 255, 255, 255, 0.2 );
    border: solid 1px #b0b0b0;
}
input[type=submit]:focus {
    background: rgba( 255, 255, 255, 0.2 );
}
.faLocationDot{
    border-radius: 0;
    height: 40px !important;
    background: rgba( 255, 255, 255, 0.2 );
    border-right: solid 1px #b0b0b0;
    border-top: solid 1px #b0b0b0;
    border-bottom: solid 1px #b0b0b0;
}
.faLocationDot svg{
    margin: 0 !important;
}
.faSearchLocation{
    border-radius: 0 5px 5px 0;
    border: solid 1px #b0b0b0;
    height: 40px !important;
    background: rgba( 255, 255, 255, 0.2 );
}
.faSearchLocation svg{
    margin: 0 !important;
}
.cityName h1{
    font-size: 60px !important;
}
.temp h1{
    font-size: 80px !important;
    font-family: 'Zen Loop', cursive !important;
}
div svg{
    justify-content: center !important;
    margin: 15px auto !important;
}